@font-face {
  font-family: 'Raleway';
  src: inline('./../assets/Raleway-Thin.ttf');
  font-weight: 100;
}

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgb(245, 245, 245);
  color: rgb(89, 89, 89);
  font-size: 20px;
  font-weight: 300;
  font-family: 'Helvetica', 'Liberation Sans', 'Arial', 'sans-serif';
  transition: all 0.2s;
}

a {
  text-decoration: none;
  color: rgb(25, 25, 25);
}

.title {
  color: rgb(234, 215, 215);
  text-align: center;
  font-weight: 100;
  font-size: 80px;
  font-family: 'Raleway', 'Arial';
  margin-bottom: 0;
}

.credit {
  color: rgb(210, 210, 210);
  position: fixed;
  letter-spacing: .5px;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-weight: 300;
  margin: 0 0 5px 0;
  padding: 5px 10px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
}

.credit a {
  color: rgb(210, 210, 210);
}

.credit a:hover {
  color: rgb(130, 130, 130);
}

.list {
  border-top: 1px solid rgb(244, 244, 244);
  box-shadow: -5px 30px 85px -1px rgba(170,170,170, .8);
  margin: 35px auto 150px;
  width: 500px;
  background-color: rgb(255, 255, 255);
}
